<div class="row">
  <div class="col-md-4 col-md-offset-5">
	<h2>Today's Meals</h2>
  </div>
</div>	

<% if @menu %>
<div class="row">
  <div class="col-md-12">
	<table class="table table-striped">
		<tr>
			<th>Meal</th>
			<th>Time</th>
		</tr>

		<% @menu.sort{|a,b| a.time <=> b.time}.each do |menu| %>
		
		<tr>
			<td><%= menu.meal.name %></td>
			<td><%= menu.time.strftime("%l:%M %P") %></td>
		</tr>

		<% end %>

	</table>
	</div>
</div>	
<% else %>

<div class="row">
  <div class="col-md-4 col-md-offset-5">
	<p> No meals for today!  Add some. </p>
 </div>
</div>	

<% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-5">
	<p>
		<%= link_to "Add Meal to menu.", menu_add_path %>
	</p>
 </div>
</div>	
