
<div class="container-fluid full-height-width">
	<div class="row well-content">
		<div class="col-md-10 col-sm-offset-1">
			<div class="row ">
			  <div class="col-md-12 centered-item border-bottom">
				<h2 class="">My Menu</h2>
			  </div>
			</div>	


			<% if @menu %>
			<div class="row">
			  <div class="col-md-12 centered-item">
				<table class="table table-striped">
					<tr>
						<th>Meal</th>
						<th>Time</th>
					</tr>

					<% @menu.sort{|a,b| a.time <=> b.time}.each do |menu| %>
					
					<tr>
						<td><%= menu.meal.name %></td>
						<td><%= menu.time.strftime("%l:%M %P") %></td>
					</tr>

					<% end %>

				</table>
				</div>
			</div>	
			<% else %>

			<div class="row">
			  <div class="col-md-12 centered-item">
				<p> No meals for today!  Add some. </p>
			 </div>
			</div>	

			<% end %>

			<div class="row">
			  <div class="col-md-12 centered-item">
				<p>
					Add <%= link_to "meal", menu_add_path %> or <%= link_to "recommendation", menu_rec_path %> to menu
				</p>
			 </div>
			</div>


		</div>
	</div>
</div>	