  <script type="text/javascript">
      $(document).ready(function() {
        $('.select-two').select2();
      });
  </script>	

<div class="container-fluid full-height-width">
	<div class="row well-content">
		<div class="col-md-8 col-sm-offset-2">
		<%= form_tag do %>
		<div class="row">
		  <div class="col-md-12 centered-item border-bottom">
			<h2>Recommended Meals:</h2>
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-12 centered-item">
			<select class="select-two form-control select-two-style" name = "recommendation_select">
				<% @recommendations.each do |recommendation| %>
					<option value = "<%= recommendation["id"] %>"><%= recommendation["name"] %></option>
				<% end %>
			</select>
		  </div>
		</div>
		<br>

		<div class="row">
		  <div class="col-md-12 centered-item">
		  	<p><label>Date (MM/DD/YY)</label><br>
			<input type = "text" name = "date" class="input-text">
			</p>
		  </div>
		</div>

		<br>

		<div class="row">
		  <div class="col-md-12 centered-item">
			
		  </div>
		</div>

		<div class="row">
		  <div class="col-md-12 centered-item">
		  	<p><label>Time (hour:minute)</label><br>
			<input type="text" name="time" class="input-text">
				<select name = "time_offset">
				<option value = "0">AM</option>
				<option value = "1">PM</option>
			</select>
			</p>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-12 centered-item">
		  	<br>
  		  </div>
		</div>
		<div class="row">
		  <div class="col-md-12 centered-item">
			<%= submit_tag "Add Meal", class: "btn" %>
		  </div>
		</div>


		<% end %>
	</div>
	</div>
</div>
