div class="row">
  <div class="col-md-4 col-md-offset-4">
	<h2>User information</h2>
  </div>
</div>	

<div class="row">
  <div class="col-md-12">
	<table class="table table-striped">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th></th>
		</tr>
			<% @user.data.each do %>
		
		<tr>
			<td><%= datum.f_name %></td>
			<td><%= datum.l_name %></td>
			<td>[<%= link_to "Edit", info_edit_path(pantry) %>]</td>
		</tr>
			<% end %>
		

	</table>
  </div>
</div>	

<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<p>
		<%= link_to "Change password", settings_path %>
	</p>
  </div>
</div>	